{% extends "base.html" %}

{% block title %}
Hiddy Search - Chat
{% endblock %}

{% block shortcuts %}
{% if current_user.is_authenticated %}
<a class="button" href="log-out">Log out</a>
{% else %}
<a class="button" href="log-in">Log in</a>
{% endif %}
{% endblock %}

{% block content %}
<content>
    <hl>Chat</hl>
    <content>
        {% for message in chat %}
            <label>{{ message['name'] }}</label>
            <textarea class="chat" type="text" name="chat" disabled oninput="auto_grow(this)">{{ message['message'] }}</textarea>
        {% endfor %}
        <label>{{ current_user.name }}</label>
        <form id="message" method="POST" action="/chat">
            <textarea class="chat" type="text" name="message" oninput="auto_grow(this)"></textarea>
        </form>
        <div>
            <a class="button" onclick="document.getElementById('message').submit()">
                send message
            </a>
        </div>
    </content>
</content>
{% endblock %}