{% extends "base.html" %}

{% block title %}
Hiddy Search - Forgot password
{% endblock %}

{% block shortcuts %}
{% if current_user.is_authenticated %}
<a class="button" href="profile">Profile</a>
{% else %}
<a class="button" href="log-in">Log in</a>
{% endif %}
{% endblock %}

{% block content %}
<center>
    <div class="card" style="margin-top: 5em; height: 24em; max-width: 20em;">
        <div>
            <img src="static/images/logo_no_text.svg" alt="Logo" style="height: 5em;"/>
        </div>
        <div>
            <h>
                Did you forget your password?
            </h>
            <content class="description">
                Enter your email address and we will send you a link to reset your password.
        </div>
        <form>
            <input type="email" name="email" required="required" placeholder="Email address">
        </form>
        <div>
            <a class="button" href="send_password_recovery">
                send me the link
            </a>
        </div>
        <div>
            <a href="log-in">
                Log in
            </a>
        </div>
    </div>
</center>
{% endblock %}